<ul class="bxslider">
    <li><img src="/images/pic1.jpg" /></li>
    <li><img src="/images/pic2.jpg" /></li>
    <li><img src="/images/pic3.jpg" /></li>
    <li><img src="/images/pic4.jpg" /></li>
</ul>

{# this file is meant to be included so the script should be in the parent file #}
{#<script>
    /* http://bxslider.com/ */
    $('.slider').bxslider();
</script>#}
